{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}

    <!-------------------------------------------------------------------------------------------------------------- -->


    <div class="prd-heading">
        <h4>User Name / Cart </h4>
    </div>

    <!-- <form action=""> -->
    <!-- cart table -->
    <div class="cart-tabel">
        <table>
            <!-- headings -->
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sub Total</th>
                <th></th>
            </tr>

            <!-- table content -->
            <hr>
            <tr>
                <td><img src="imges/skel.jpg" alt=""></td>
                <td>
                    <select name="" id="" value=" ">
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                        <option value="4">XL</option>
                    </select>

                </td>
                <td>
                    <select name="" id="" value=" ">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td><label for="price">&#x20b9; 799.00</label></td>
                <td><label for="price">&#x20b9; 799.00</label></td>
                <td><button title="Remove from cart" type="submit" class="remove-btn"><i
                            class="fa-solid fa-trash fa-lg"></i></button></td>
            </tr>
        </table>
    </div>

    <!-- total and proceed -->

    <div class="total">
        <div>
            <label for="">Total </label> <label id="tot" for="total"> &#x20b9; 799.00</label>
        </div>
        <div>
            <a href="index.html"><button class="" type="">
                    Proceed To Shipping
                </button></a>
        </div>
    </div>
    <!-- </form> -->

    <!-- bottom of cart / some random text -->

    <div class="btm-cart">
        <p>
            messages if any
        </p>
    </div>


    <!-- script -->
    <!-- ------------------------------------------------------------------------------------------------------ -->
    <script>

        // cart quantity counter
        const quantityLabel = parseInt(document.getElementById("quantity"));
        const price = parseInt(document.getElementById("price"));
        const subTotalLabel = parseInt(document.getElementById("sub-total"));
        let quantity = 1;
        let subTotal;

        function decrease() {
            if (quantity > 1) {
                quantity--;
                quantityLabel.textContent = quantity;
            }
        }

        function increase() {
            if(quantity <=9){
            quantity++;
            quantityLabel.textContent = quantity;
            subTotal = quantity*price;
            subTotalLabel.textContent = subTotal
            console.log(subTotal)
            }
        }
        // -------------------------------------------------------------------------

    </script>


{% endblock%}