{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}


  <!-- space -->
  <div class="space">

  </div>
  
  <!-------------------------------------------------------------------------------------------------------------- -->    

<!-- desigener sec -->

<div class="desig-prof">
    <!-- desig dp -->
    <div class="desig-head">
        <div class="dp">
            <img src="{{ designer.logo.url }}" alt="">
        </div>
        <h2>{{ designer.name }}</h2>
    </div>

    <!-- bio and other details -->
    <div class="bio">
        <table>
            <tr>
                <td class="bold">Contact</td>
                <td>{{ designer.email }}</td>
            </tr>
            <tr>
                <td class="bold">Phone</td>
                <td>{{ designer.phone }}</td>
            </tr>
            <tr>
                <td class="bold">Bio</td>
                <td>{{ designer.bio }}</td>
            </tr>
        </table>
    </div>

</div>

{% if designer.get_products %}
<!-- ḍesigner products -->
    {% for product in designer.get_products %}
<!-- ḍesigner products -->

<div class="prd-det">
    <!-- main img sec-->
    <div class="sec-2">
        <img id="mainImage{{product.pk}}" src="{{ product.image1.url }}" alt="{{ product.prd_name }}">
    </div>
    
    <!-- sub img sec -->
    <div class="sec-1">
        <img src="{{ product.image1.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
        <img src="{{ product.image2.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
        <img src="{{ product.image3.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
        <img src="{{ product.image4.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
    </div>
    
    


    <!-- desginer/product details -->
    <div class="sec-3">
        <div>
            <!-- prd det -->
            <h3>{{ product.prd_name }}</h3>
            <p>
        <p>Category : {{ product.category1 }} {% if product.category2 %} > {{ product.category2 }}{% endif %}</p>           
            </p>
            <!-- spec table -->
            <table>
                <tr>
                    <td class="sp-tt">Size & Fit</td>
                    <td class="sp-td">{{ product.fit }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Material</td>
                    <td class="sp-td">{{ product.material }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Care</td>
                    <td class="sp-td">{{ product.care }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Occasion</td>
                    <td class="sp-td">{{ product.occasion }}</td>
                </tr>
            </table>

            <hr>

                        <!-- price -->
                        <h3 id="pr" style="padding-right: 1rem;">Price : &#x20b9; {{ product.price }}</h3>

            <hr>
            
            <div class="btns">

                <button class="buy-btn"><a href="{% url 'cart' product_id=product.id %}">Buy Now</a></button>
                <button title="add to whishlist" class="whish-btn"><a href="{% url 'add_to_wishlist' product_id=product.id %}"><i class="fa fa-heart fa-lg"></i></a></button>
   
            </div>

            <hr>

            <div style="display: flex; flex-direction: row; justify-content: space-around;">

            <!-- remove btn -->
            <script>
                function confirmDelete() {
                  var result = confirm("Are you sure you want to delete this product?");
                  if (result) {
                    return true;
                  } else {
                    return false;
                  }
                }
            </script>
                

            </div>
        </div>
    </div>
</div>

<hr>

{% endfor %}
{% endif %}

{% endblock%}