{% extends 'designer_base.html' %}

{% block title %}
 View Products
{% endblock%}

{% load static %}

{% block content %}

{% if designer.get_products %}
<!-- ḍesigner products -->
    {% for product in designer.get_products %}


<div class="prd-det">
    <!-- main img sec-->
    <div class="sec-2">
        <img src="{{ product.image1.url }}" alt="{{ product.prd_name }}">
    </div>

        <!-- sub img sec -->
        <div class="sec-1">
            <img src="{% static 'imges/skel.jpg' %}" alt="">
            <img src="{% static 'imges/skel.jpg' %}" alt="">
            <img src="{% static 'imges/skel.jpg' %}" alt="">
        </div>
    
    <!-- desginer/product details -->
    <div class="sec-3">
        <div>
            <!-- prd det -->
            <h3>{{ product.prd_name }}</h3>
            <p>
        <p>Category: {{ product.category1 }} {% if product.category2 %} > {{ product.category2 }}{% endif %}</p>
        <p>Fit: {{ product.fit }}</p>
        <p>Care: {{ product.care }}</p>
        <p>Material: {{ product.material }}</p>
        <p>Occasion: {{ product.occasion }}</p>                
            </p>

            <!-- price -->
            <h3 id="pr">&#x20b9; {{ product.price }}</h3>
        </div>
    </div>
</div>

        

    {% endfor %}
{% else %}
  <p>No products found.</p>
{% endif %}


{% endblock%}

