<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry..!</title>

    <style>
        .sry{
            display: grid;
            place-items: center;
            padding-top: 2rem;
        }
        img{
            height: 25rem;
            width: auto;
        }
    </style>

</head>
<body>

    <div class="sry">
    <h1>Sorry...!!</h1>
    <img src="static/imges/maint.png" alt="">
    <p>We are working hard to bring this feature to you</p>
    </div>

</body>
</html>