{% extends 'designer_base.html' %}

{% block title %}
Shipping Requests
{% endblock%}

{% load static %}


    
{% block content %}
  <h1>{{ designer.name }}'s Profile</h1>
  <h2>Orders:</h2>
  {% if orders %}
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.customer.username }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
              {% if order.status == 'pending' %}
                <a href="{% url 'approve_order' order_id=order.pk %}">Approve</a>
              {% else %}
                <span class="text-success">Approved</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No orders found.</p>
  {% endif %}
{% endblock %}

 
