{% extends 'designer_base.html' %}

{% block title %}
Update Stock
{% endblock%}

{% load static %}

{% block content %}

    
<form action="">

    <div class="add-main">


        <table>

            <tr>
                <!-- category 2 -->
                <td class="first-td">Category 1</td>
                <td class="second-td">
                    <select name="" id="">
                        <option value="">Select</option>
                        <option value="">T-shirts</option>
                        <option value="">Casual shirts</option>
                        <option value="">Formal shirts</option>
                        <option value="">Jackets</option>
                        <option value="">Sweatshirts & Hoodies</option>
                        <option value="">Blazers & Coats</option>
                    </select>
                </td>
            </tr>

            <tr>
                <!-- category 2 -->
                <td class="first-td">Category 2</td>
                <td class="second-td">
                    <select name="" id="">
                        <option value="">Select</option>
                        <option value="">T-shirts</option>
                        <option value="">Casual shirts</option>
                        <option value="">Formal shirts</option>
                        <option value="">Jackets</option>
                        <option value="">Sweatshirts & Hoodies</option>
                        <option value="">Blazers & Coats</option>
                    </select>
                </td>
            </tr>


            <tr>
                <!-- category 2 -->
                <td class="first-td">Product Name</td>
                <td class="second-td">
                    <select name="" id="">
                        <option value="">Select</option>
                        <option value="">T-shirts</option>
                        <option value="">Casual shirts</option>
                        <option value="">Formal shirts</option>
                        <option value="">Jackets</option>
                        <option value="">Sweatshirts & Hoodies</option>
                        <option value="">Blazers & Coats</option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="" class="add-btn">current stock</button>

        <hr>
        <h5>Size and Stock</h5>

        <table>
            <tr>
                <!-- size and stock -->
                <td>S</td>
                <td class="size-input"><input type="text"></td>
                <td>M</td>
                <td class="size-input"><input type="text"></td>
                <td>L</td>
                <td class="size-input"><input type="text"></td>
                <td>XL</td>
                <td class="size-input"><input type="text"></td>
            </tr>
        </table>

        <div>
            <!-- buttons -->
            <button type="submit" class="add-btn">Submit</button>
            <button type="reset" class="reset-btn">Reset</button>
        </div>
    </div>

</form>
 
{% endblock %}