{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}

  

  <!-- space -->
  <div class="space">

  </div>
  
  <!-------------------------------------------------------------------------------------------------------------- -->

    <div class="prd-heading">
        <h4>Men's Topwear </h4>
    </div>

    <div class="sel-cat">
        <form method="get">

            <!-- category -->
            <label for="">select category  &nbsp; &nbsp;</label>

            <!-- top/bottom -->
            <!-- <select name="" id="">
                <option value="">Top wear</option>
                <option value="">Bottom Wear</option>
                <option value="">Others</option>
              </select> -->

            <!-- Product Catregory -->
            <select name="" id="">
              <option value="">T-shirts</option>
              <option value="">Casual shirts</option>
              <option value="">Formal shirts</option>
              <option value="">Jackets</option>
              <option value="">Sweatshirts & Hoodies</option>
              <option value="">Blazers & Coats</option>
            </select>

            <!-- filter -->
            <label for="">filter  &nbsp; &nbsp;</label>
            <select name="" id="">
              <option value="">Low to High</option>
              <option value="">High to Low</option>
            </select>
          </form>
    </div>





<!-- product cards -->
<div class="relbox">
  {% for product in products %}
        <form method="get" action="{% url 'product_detail' product.id %}">
            <a href="{% url 'product_detail' product.id %}">
              <div class="prd-card">
                <img src="{{ product.image1.url }}" alt="{{ product.prd_name }}" loading="lazy">
                <h4>{{ product.prd_name }}</h4>
                <h6>&#x20b9; {{ product.price }}</h6>
              </div>
            </a>
        </form>
  {% endfor %}
  </div>
  



  {% endblock%}  