{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}

  
  <!-------------------------------------------------------------------------------------------------------------- -->
    
    <div class="prd-heading">
        <p>Welcome Back</p><h3> {{ customer.name }}</h3>
    </div>

    <!-- nav for user profile (in style-3) -->
    <div class="prf-nav">
        <button id="user-btn1">Manage Account</button>
        <button id="user-btn2">Your Orders</button>
        <button id="user-btn3">Purchase History</button>
    </div>


    <!-- manage your acconut -->
    <div class="man-ac">
        <div>
            <h4>Personal Details</h4>
            <p>{{ customer.name }}</p>
            <p>{{ customer.email }}</p>
            <p>{{ customer.phone }}</p>
        </div>

        <div id="view-ad">
            <h4>Address</h4>
            <p>{{ customer.house }}</p>
            <p>{{ customer.landmark }}</p>
            <p>{{ customer.city }}</p>
            <p>{{ customer.pincode }}</p>
            <button class="edit-btn" id="ed-ad-btn">Edit Address</button>
        </div>

        <div id="edit-ad">
            <form action="edit_customer_address" method="post">
                {% csrf_token %}
                <input type="text" name="house" placeholder="House No/Name">
                <input type="text" name="landmark" placeholder="Land Mark">
                <input type="text" name="city" placeholder="City">
                <input type="text" name="pincode" placeholder="Pin Code">
                <button type="submit" class="edit-btn" id="save-ad">Save Changes</button>
            </form>
        </div>
    </div>



<!-- Your Pending Orders -->
<div class="relbox1">
    {% for order in orders %}
        <div class="prd-card">
            <img src="{{ order.product.image1.url }}" alt="{{ order.product.name }} image">
            <p>{{ order.product.name }}</p>
            <p>Date of Booking: {{ order.booking_date|date:"F d, Y" }}</p>
        </div>
    {% empty %}
        <h2 style="margin-bottom: 11rem;">You have no pending orders...</h2>
    {% endfor %}
</div>




    <div class="his-tabel">
        <table>
            <!-- headings -->
            <tr>
                <th>Product</th>
                <th>Details</th>
                <th>Date</th>
                <th>Review</th>
            </tr>

            <!-- table content -->
            <tr>
                <td><img src="" alt=""></td>
                <td><label for="size">Men T-shirt</label></td>
                <td><label for="date">dd/mm/yyyy</label></td>
                <td><label id="rev" for="review">Lorem ipsum dolor sit amet consecrehenderit nemo ad ipsum quos sapiente! Assumenda consequatur fugiat esse ab architecto accusamus, ullam atque. Quos quis aliquid ad!</label></td>
                <td><button title="Review" type="submit" class="edit-btn1"><i class="fa-solid fa-pen fa-lg"></i></button></td>
            </tr>

            <!-- table content -->
            <tr>
                <td><img src="" alt=""></td>
                <td><label for="size">Men T-shirt</label></td>
                <td><label for="date">dd/mm/yyyy</label></td>
                <td><label id="rev" for="review">abo maxime reprehenderit nemo ad ipsum quos sapiente! Assumenda consequatur fugiat esse ab architecto accusamus, ullam atque. Quos quis aliquid ad!</label></td>
                <td><button title="Review" type="submit" class="edit-btn1"><i class="fa-solid fa-pen fa-lg"></i></button></td>
            </tr>
        </table>
    </div>

{% endblock%}
