{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}

  
  <!-------------------------------------------------------------------------------------------------------------- -->
    
    <div class="prd-heading">
        <p>Welcome Back</p><h3> {{ customer.name }}</h3>
    </div>

    <!-- nav for user profile (in style-3) -->
    <div class="prf-nav">
        <button id="user-btn1">Manage Account</button>
        <button id="user-btn2">Your Orders</button>
        <button id="user-btn3">Purchase History</button>
    </div>


    <!-- manage your acconut -->
    <div class="man-ac">
        <div>
            <h4>Personal Details</h4>
            <p>{{ customer.name }}</p>
            <p>{{ customer.email }}</p>
            <p>{{ customer.phone }}</p>
        </div>

        <div id="view-ad">
            <h4>Address</h4>
            <p>House No/Name</p>
            <p>Land Mark</p>
            <p>City</p>
            <p>Pin Code</p>
            <button class="edit-btn" id="ed-ad-btn">Edit Address</button>
        </div>

        <div id="edit-ad">
            <input type="text" placeholder="House No/Name">
            <input type="text" placeholder="Land Mark">
            <input type="text" placeholder="City">
            <input type="text" placeholder="Pin Code">
            <button class="edit-btn" id="save-ad">Save Changes</button>
        </div>
    </div>


    <!-- Your Orders -->
    <!-- <div class="prd-heading">
        <h4>Your Orders</h4>
    </div> -->

    <div class="rel-box">
            <div class="prd-card">
                <img src="{% static 'imges/skel.jpg' %}" alt="">
                <p>Arriving on dd/mm/yyyy</p>
            </div>

                <div class="prd-card">
                    <img src="{% static 'imges/skel.jpg' %}" alt="">
                    <p>Arriving on dd/mm/yyyy</p>
                </div>
    </div>


    <!-- History -->
    <!-- <div class="prd-heading">
        <h4>Purchase History</h4>
    </div> -->

    <div class="his-tabel">
        <table>
            <!-- headings -->
            <tr>
                <th>Product</th>
                <th>Details</th>
                <th>Date</th>
                <th>Review</th>
            </tr>

            <!-- table content -->
            <tr>
                <td><img src="imges/skel.jpg" alt=""></td>
                <td><label for="size">Men T-shirt</label></td>
                <td><label for="date">dd/mm/yyyy</label></td>
                <td><label id="rev" for="review">Lorem ipsum dolor sit amet consecrehenderit nemo ad ipsum quos sapiente! Assumenda consequatur fugiat esse ab architecto accusamus, ullam atque. Quos quis aliquid ad!</label></td>
                <td><button title="Review" type="submit" class="edit-btn1"><i class="fa-solid fa-pen fa-lg"></i></button></td>
            </tr>

            <!-- table content -->
            <tr>
                <td><img src="imges/skel.jpg" alt=""></td>
                <td><label for="size">Men T-shirt</label></td>
                <td><label for="date">dd/mm/yyyy</label></td>
                <td><label id="rev" for="review">abo maxime reprehenderit nemo ad ipsum quos sapiente! Assumenda consequatur fugiat esse ab architecto accusamus, ullam atque. Quos quis aliquid ad!</label></td>
                <td><button title="Review" type="submit" class="edit-btn1"><i class="fa-solid fa-pen fa-lg"></i></button></td>
            </tr>
        </table>
    </div>

{% endblock%}
