{% extends 'customer_base.html' %}

{% block title %}
User Home | TFP 
{% endblock%}

{% load static %}


{% block content %}


  <!-- space -->
  <div class="space">

  </div>
  <div id="errMsg">
    {% if messages %}
    <div class="messages" >
        {% for message in messages %}
            <p style="text-align: center;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
  <!-------------------------------------------------------------------------------------------------------------- -->

    <div class="prd-heading">
        <h4>{{ product.category1 }} / {{ product.category2 }} / {{ product.prd_name }} </h4>
    </div>

    <div class="prd-det">

<!-- sub img sec -->
<div class="sec-1">
    <img src="{{ product.image1.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
    <img src="{{ product.image2.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
    <img src="{{ product.image3.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
    <img src="{{ product.image4.url }}" alt="{{ product.prd_name }}" onclick="changeImage('{{ product.pk }}', this)">
</div>

<!-- main img sec-->
<div class="sec-2">
    <img id="mainImage{{product.pk}}" src="{{ product.image1.url }}" alt="{{ product.prd_name }}">
</div>

        <!-- desginer/product details -->
        <div class="sec-3">

            <div class="desig-det">
                <img src="{{ designer.logo.url }}" alt="">
                <h3> <a href="{% url 'designer_profile' designer.id %}">{{ designer.name }}</a> </h3>
            </div>

            <div>
                <!-- prd det -->
                <h3>{{ product.prd_name }}</h3>
                <h6>{{ product.category1 }}</h6>
                <br>
            <!-- spec table -->
            <table>
                <tr>
                    <td class="sp-tt">Size & Fit</td>
                    <td class="sp-td">{{ product.fit }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Material</td>
                    <td class="sp-td">{{ product.material }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Care</td>
                    <td class="sp-td">{{ product.care }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Occasion</td>
                    <td class="sp-td">{{ product.occasion }}</td>
                </tr>
            </table>

            <br>

                <!-- size chart -->
                <!-- <div class="size-chart">
                    <p>select size : </p>
                    <label for=""><input type="radio" name="size" id="size-s"> S</label>
                    <label for=""><input type="radio" name="size" id="size-m"> M</label>
                    <label for=""><input type="radio" name="size" id="size-l"> L</label>
                    <label for=""><input type="radio" name="size" id="size-xl"> XL</label>                    
                </div> -->

                <br>

                <!-- price -->
                <h3 id="pr">&#x20b9;{{ product.price }}</h3>

            </div>

            <div class="btns">
               
                <button class="buy-btn"><a href="{% url 'cart' %}">Buy Now</a></button>
                <!-- <button id="add-to-cart-btn" class="cart-btn"><a href="{% url 'cart' %}">Buy Now</a></button> -->
                <button title="add to whishlist" class="whish-btn"><a href="{% url 'add_to_wishlist' product_id=product.id %}"><i class="fa fa-heart fa-lg"></i></a></button>
   
            </div>
        </div>

    </div>


    <div class="prd-heading">
        <h4>Reviews </h4>
    </div>

    <!-- spec of product & reviews -->
    <div class="spec-rew">

        <!-- rew -->
        <div class="rew">


            <!-- review box -->
            <div class="rev-box">
                <h4>User Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.labore molestias ipsa ratione nesciunt nam,
                    quasi aperiam repudiandae ipsum nostrum reiciendis eligendi maxime sequi?</p>
            </div>

            <div class="rev-box">
                <h4>User Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.le ipsum nostrum reiciendis eligendi maxime
                    sequi?</p>
            </div>

            <div class="rev-box">
                <h4>User Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.le ipsum nostrum reiciendis eligendi maxime
                    sequi?</p>
            </div>

        </div>

        <!-- spec -->
        <div class="spec">

            <!-- spec table -->
            <!-- <table>
                <tr>
                    <td class="sp-tt">Size & Fit</td>
                    <td class="sp-td">{{ product.fit }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Material</td>
                    <td class="sp-td">{{ product.material }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Care</td>
                    <td class="sp-td">{{ product.care }}</td>
                </tr>
                <tr>
                    <td class="sp-tt">Occasion</td>
                    <td class="sp-td">{{ product.occasion }}</td>
                </tr>
            </table> -->

        </div>

    </div>


    <hr>

    <!-- related products -->

    <!-- <div class="prd-heading">
        <h4>Related Products </h4>
    </div> -->

    <!-- product card - related products -->
    <!-- <div class="relbox">

        <a href="">
            <div class="prd-card">
                <img src="imges/skel.jpg" alt="">
                <h4>Product Name</h4>
                <p>Men</p>
                <h5>T-shirt</h5>
                <h6>&#x20b9; 0.00 </h6>
            </div>
        </a>

        <a href="">
            <div class="prd-card">
                <img src="imges/skel.jpg" alt="">
                <h4>Product Name</h4>
                <p>Men</p>
                <h5>T-shirt</h5>
                <h6>&#x20b9; 0.00 </h6>
            </div>
        </a>

        <a href="">
            <div class="prd-card">
                <img src="imges/skel.jpg" alt="">
                <h4>Product Name</h4>
                <p>Men</p>
                <h5>T-shirt</h5>
                <h6>&#x20b9; 0.00 </h6>
            </div>
        </a>

        <a href="">
            <div class="prd-card">
                <img src="imges/skel.jpg" alt="">
                <h4>Product Name</h4>
                <p>Men</p>
                <h5>T-shirt</h5>
                <h6>&#x20b9; 0.00 </h6>
            </div>
        </a>


    </div> -->



    {% endblock%}